<div id="content">

    <div class="contentbox1">

        <div class="header"><h1>Meld je aan!</h1></div>

        <div class="content">
        <!-- START BLOCK : MELDING -->
        <p>{BERICHT}</p>
        <!-- END BLOCK : MELDING -->

        <!-- START BLOCK : FORM -->

            <form action="index.php?pid=8" method="post" />

            <fieldset>

                <label class="all" for="Gebruikersnaam">Gebruikersnaam</label><input type="text" name="Gebruikersnaam" id="Gebruikersnaam" />
                <label class="all" for="Voornaam">Voornaam</label><input type="text" name="Voornaam" id="Voornaam" />
                <label class="all" for="Achternaam">Achternaam</label><input type="text" name="Achternaam" id="Achternaam" />
                <label class="all" for="Wachtwoord">Wachtwoord</label><input type="password" name="Wachtwoord" id="Wachtwoord" />
                <label class="all" for="Herhaalwachtwoord">Herhaal wachtwoord</label><input type="password" name="Herhaalwachtwoord" id="Herhaalwachtwoord" /><br />
                <label class="all" for="Email">Email</label><input type="Email" placeholder="voorbeeld@domein.nl" name="Email" id="Email" />

                </select>

                <input type="submit" value="Registreer" name="Registreer"  />

            </fieldset>

            </form>

        <!-- END BLOCK : FORM -->

        </div>

    </div>

</div>

</div>

