<div id="content">

    <div class="contentbox1">

        <div class="header"><h1>Clanaanmaken</h1></div>

        <div class="content">
        
        <!-- START BLOCK : SUCCES -->
        
        {SUCCESTEXT}
        
        <!-- END BLOCK : SUCCES -->
        
        <!-- START  BLOCK : FORMULIER -->
        
        <form action="index.php?pid=13&actie=aanmaken" method="post">
            <input name="clannaam" type="text" />
            <input name="clanaanmaken" type="submit" />
        </form>
        
        <!-- END BLOCK : FORMULIER -->

        


        

        </div>

    </div>

</div>

</div>

