<div id="content">

    <div class="contentbox">

    <!-- START BLOCK : INGELOGD -->
    

        <div class="header"><h2>{ERRORTEXT1}</h2></div>

        <div class="content">
            <p>{ERRORTEXT2}</p>
            
        </div>

    </div>

    <img class="banner" src="template/img/bfbanner.png" alt="" />

    <div class="contentbox1">

        <div class="header"><h2>{ERRORTEXT3}</h2></div>
        
        <!-- END BLOCK : INGELOGD -->
        
        
        
        <!-- START BLOCK : INGELOGD1 -->
        
        <div class="header"><h2>{ERRORTEXT1}</h2></div>

        <div class="content">
            <p>{ERRORTEXT2}<a href="index.php?pid=11&actie=verlaten&clan_clanid={ClanId}"> <i><b><u>verlaten</u></i></b>.</a></p>
            
        </div>

    </div>

    <img class="banner" src="template/img/bfbanner.png" alt="" />

    <div class="contentbox1">

        <div class="header"><h2>{ERRORTEXT3}</h2></div>
        
        <!-- END BLOCK : INGELOGD1 -->
        
        <!-- START BLOCK : INGELOGD2 -->
        
        <div class="header"><h2>{ERRORTEXT1}</h2></div>

        <div class="content">
            
            
        </div>

    </div>

    <img class="banner" src="template/img/bfbanner.png" alt="" />

    <div class="contentbox1">

        <div class="header"><h2>{ERRORTEXT3}</h2></div>
        
        <!-- END BLOCK : INGELOGD2 -->

        <div class="content">
        
        <div class="zoeken">
        
        <!-- START BLOCK : SUCCES -->
                
                {SUCCESTEXT2}
                
                <!-- END BLOCK : SUCCES -->
                
                <!-- START BLOCK : FORMULIER -->
                
                <form action="index.php?pid=11&actie=aanmaken" method="post">
                    <input name="clannaam" type="text" />
                    <input name="clanaanmaken" type="submit" value="Clan aanmaken" />
                </form>
                
                <!-- END BLOCK : FORMULIER -->
                
        
      

            

           

                <table>

                    <!-- START BLOCK : CLANS -->

                        <tr>
                            <td>{Clannaam}</td>
                            <td><a href="index.php?pid=11&actie=pending&clan_clanid={ClanId}">Join clan</a></td>
                            
                        </tr>

                    <!-- END BLOCK : CLANS -->
                    
                     <!-- START BLOCK : CLANS1 -->

                        <tr>
                            <td>{Clannaam}</td>
                            <td><a href="index.php?pid=11&actie=clanevent&clan_clanid={ClanId}">Clan uitdagen</a></td>
                            
                        </tr>

                    <!-- END BLOCK : CLANS1 -->
                    
                    <!-- START BLOCK : CLANS2 -->

                        <tr>
                            <td>{Clannaam}</td>
                            
                            
                        </tr>

                    <!-- END BLOCK : CLANS2 -->

                </table>
                
                <!-- START BLOCK : MELDINGCLAN -->
                
                {SUCCESTEXT}
                
                <!-- END BLOCK : MELDINGCLAN -->
                
                <!-- START BLOCK : SUCCES -->
        
                {SUCCESTEXT}
        
                <!-- END BLOCK : SUCCES --> 
                
                

                
                </div>

          
            
                
                
                

        </div>

    </div>

</div>

</div>

