<div id="content">

    <div class="contentbox1">

        <div class="header"><h1>Contact</h1></div>

        <div class="content">

            <form action="verzonden2.html">

                <label class="all" for="name">Naam</label><input type="text" class="input_text" name="name" id="name"/>
                <label class="all" for="email">E-mail</label><input type="text" class="input_text" name="email" id="email"/>
                <label class="all" for="name">Onderwerp</label><input type="text" class="input_text" name="subject" id="subject"/>
                <label class="all" for="name">Bericht</label><textarea class="message" rows="10" cols="30" name="feedback" id="feedback"></textarea>
                <input type="submit" class="button" value="Verzenden" />

            </form>

        </div>

    </div>

</div>

</div>

