<div id="content">

    <div class="contentbox1">

        <div class="header"><h1></h1></div>

        <div class="content">
        
        <!-- START BLOCK : LEDEN -->
        
        {GEBRUIKERSNAAM}
        
        <!-- END BLOCK : LEDEN -->
        
        <!-- START BLOCK : ACCEPTEREN -->
        <p>{GEBRUIKERSNAAM} Wilt uw clan joinen.</p>
        <a href="index.php?pid=13&actie=accepteren&clan_clanid={USERID}">ACCEPTEREN</a>
        
        <!-- END BLOCK : ACCEPTEREN -->
        

       
        

        

        

        </div>

    </div>

</div>

</div>

