			<footer>

				<div class="container">
									
					<div class="footerbox">

						<h4>Snelmenu</h4>

							<ul>
								<li><a class="five" href="index.php">Home</a></li>
								<li><a class="five" href="over.php">Over</a></li>
								<li><a class="five" href="leden.php">Leden</a></li>
								<li><a class="five" href="nieuws.php">Nieuws</a></li>
							</ul>

					</div>

					<div class="footerbox">

						<h4>Laatste leden</h4>
                        
                        <!-- START BLOCK : LAATSTELEDEN -->
							<ul>
								<li>{LAATSTELID}</li>
							</ul>
                        <!-- END BLOCK : LAATSTELEDEN -->
                        
					</div>

					<div class="footerbox">

						<h4>Volg ons</h4>

							<ul>
								<li><a class="five" href="http://www.twitter.com">Twitter</a></li>
								<li><a class="five" href="http://www.facebook.com">Facebook</a></li>
								<li><a class="five" href="http://www.youtube.com">Youtube</a></li>
							</ul>

					</div>

					<div class="footerbox">

						<h4>Contact</h4>

							<p>
								Heeft u een vraag? Of wilt u meer informatie? Neem dan contact op via <a href="contact.php">deze</a> pagina.
							</p>

					</div>

				<i>&copy; G-Unit | Powered by Mitchell Boers and Giovanni Scholten</i>

				</div>

			</footer>

	</body> 

</html> 