<!DOCTYPE html> 

<html>

	<head>
	
		<meta charset="utf-8" />
		<meta name="author" content="Mitchell Boers" />
		<meta name="keywords" content="game, COD, Battlefield, Heroes, Call of Duty, Clan, Nederlands, Belgisch, Multi gaming, FPS, First Person Shooter, Shooters" />
  
			<title>G-Unit - Home</title>
  
		<link rel="stylesheet" type="text/css" href="template/style.css" />
		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
  
	</head> 

	<body>

		<div class="container">

			<header>

				<h1>G-Unit</h1><img src="template/img/header.png" alt="" />



					<div id="navigation">

						<nav>
							<a href="index.php?pid=10" {menu10}><b>Home</b></a>
							<a href="index.php?pid=2" {menu2}><b>Over</b></a>
							<a href="index.php?pid=7" {menu7}><b>Nieuws</b></a>
							<a href="index.php?pid=4" {menu4}><b>Leden</b></a>
                            <!-- START BLOCK : GUESTNAV -->
                            <a href="index.php?pid=8" {menu8}><b>Registreren</b></a>
                            <a href="index.php?pid=5" {menu5}><b>Inloggen</b></a>
                            <!-- END BLOCK : GUESTNAV -->
                            <!-- START BLOCK : CLANLEIDERNAV -->
                            <a href="index.php?pid=13" {menu13}><b>Externe Admin</b></a>
                            <a href="index.php?pid=6" {menu6}><b>Uitloggen</b></a>
                            <a href="index.php?pid=11" {menu11}><b>Clans</b></a>
                            <a href="index.php?pid=12" {menu12}><b>Kalender</b></a>
							<a href="index.php?pid=9" {menu9}><b>Servers</b></a>
                            <!-- END BLOCK : CLANLEIDERNAV -->
                            <!-- START BLOCK : CLANMEMBERNAV -->
                            <a href="index.php?pid=6" {menu6}><b>Uitloggen</b></a>
                            <a href="index.php?pid=11" {menu11}><b>Clans</b></a>
                            <a href="index.php?pid=12" {menu12}><b>Kalender</b></a>
							<a href="index.php?pid=9" {menu9}><b>Servers</b></a>
                            <!-- END BLOCK : CLANMEMBERNAV -->
                            <!-- START BLOCK : MEMBERNAV -->
                            <a href="index.php?pid=6" {menu6}><b>Uitloggen</b></a>
                            <a href="index.php?pid=11" {menu11}><b>Clans</b></a>
                            <a href="index.php?pid=13"{menu13}><b>Clan Uitdagen</b></a>
                            <a href="index.php?pid=12" {menu12}><b>Kalender</b></a>
                            <!-- START BLOCK : ADMINNAV -->
                            <a href="index.php?pid=3" {menu3}><b>Adminpanel</b></a>
                            <!-- END BLOCK : ADMINNAV -->
                            <!-- END BLOCK : MEMBERNAV -->
							<a href="index.php?pid=1" {menu1}><b>Contact</b></a>
							<a href="index.php?pid=9" {menu9}><b>Servers</b></a>
							
						</nav>

					</div>





			</header>