<div id="content">

    <div id="kalenderbox">

    <!-- START BLOCK : INGELOGD -->
    

        <div class="header"><h2>{ERRORTEXT1}</h2></div>

        <div id="kalendercontent">
            <p>{ERRORTEXT2}</p>
            
        </div>

    </div>

    <img class="banner" src="template/img/bfbanner.png" alt="" />

    <div id="kalenderbox">

        <div class="header"><h2>{ERRORTEXT3}</h2></div>
        
        <!-- END BLOCK : INGELOGD -->
        
        <!-- START BLOCK : INGELOGD1 -->
        
        <div class="header"><h2>{ERRORTEXT1}</h2></div>

        <div id="kalendercontent">
            <p>{ERRORTEXT2}<a href="index.php?pid=11&actie=verlaten&clan_clanid={ClanId}"> <i><b><u>verlaten</u></i></b>.</a></p>
            
        </div>

    </div>

    <img class="banner" src="template/img/bfbanner.png" alt="" />

    <div id="kalenderbox">

        <div class="header"><h2>{ERRORTEXT3}</h2></div>
        
        <!-- END BLOCK : INGELOGD1 -->
        
        <!-- START BLOCK : INGELOGD2 -->
        
        <div class="header"><h2>{ERRORTEXT1}</h2></div>

        <div id="kalendercontent">
            <p>{ERRORTEXT2}</p>
            
        </div>

    </div>

    <img class="banner" src="template/img/bfbanner.png" alt="" />

    <div id="kalenderbox">

        <div class="header"><h2>{ERRORTEXT3}</h2></div>
        
        <!-- END BLOCK : INGELOGD2 -->

        <div id="kalendercontent">
        <table id="afuero" border="1">
        
        <!-- START BLOCK : VORIGEMAAND -->
        <a href="index.php?pid=12&maand={MAANDTERUG}&jaar={JAARTERUG}">Vorige   </a>
        <!-- END BLOCK : VORIGEMAAND -->
        
        <!-- START BLOCK : VOLGENDEMAAND -->
        <a href="index.php?pid=12&maand={VOLGENDEMAAND}&jaar={VOLGENDEJAAR}">  Volgende</a>
        <!-- END BLOCK : VOLGENDEMAAND -->
        
                            <!-- START BLOCK : ROW -->
                            <tr>
                            <!-- START BLOCK : EERSTEDAG -->
                            <td></td>
                            <!-- END BLOCK : EERSTEDAG -->
                            <!-- START BLOCK : DAYS -->
                            <td>{DAG}</td>
                            <!-- END BLOCK : DAYS -->
                            <!-- START BLOCK : ROWEND -->
                            <td></td>
                            <!-- END BLOCK : ROWEND -->
                            </tr>
                            <!-- END BLOCK : ROW -->
                            
                            <!-- START BLOCK : NIETINGELOGD -->
                    
                            {ERRORTEXT}
                    
                            <!-- END BLOCK : NIETINGELOGD -->
        
        
                  
        </table>
        
        <div class="zoeken">
        
      

            

           

                
                
               

                
                </div>

          
            
                
                
                

        </div>

    </div>

</div>

</div>

