<div id="content">

    <div class="contentbox1">

        <div class="header"><h1>Inloggen</h1></div>

        <div class="content">

        <!-- START BLOCK : LOGINFORM -->

        <form action="index.php?pid=5" method="post">

        <label id="naam">Naam</label>
        <input name="gebruikersnaam" type="text" id="naam" />

        <label id="wachtwoord">Wachtwoord</label>
        <input name="wachtwoord" type="password" id="wachtwoord" />

        <input type="submit" name="submit" value="login" />

        </form>

        <p>{ERROR}</p>

        <!-- END BLOCK : LOGINFORM -->


        <!-- START BLOCK : LOGOUTFORM -->

        <form action="index.php?pid=5" method="post">

        <input type="submit" name="uitlog" value="Logout" />

        </form>

        <!-- END BLOCK : LOGOUTFORM -->

        </div>

    </div>

</div>

</div>

