<!-- START BLOCK : GUESTNAV -->

<div id="navigation">

    <nav>
        <a href="index.php"><b>Home</b></a>
        <a href="over.php"><b>Over</b></a>
        <a href="nieuws.php"><b>Nieuws</b></a>
        <a href="leden.php"><b>Leden</b></a>
        <a href="registratie.php"><b>Registreren</b></a>
        <a href="login.php"><b>Inloggen</b></a>
        <a class="current" href="contact.php"><b>Contact</b></a>
        <a href="servers.php"><b>Servers</b></a>
    </nav>

</div>

<!-- END BLOCK : GUESTNAV -->

<!-- START BLOCK : MEMBERNAV -->

<div id="navigation">

    <nav>
        <a href="index.php"><b>Home</b></a>
        <a href="over.php"><b>Over</b></a>
        <a href="nieuws.php"><b>Nieuws</b></a>
        <a href="leden.php"><b>Leden</b></a>
        <a href="logout.php"><b>Uitloggen</b></a>
        <a class="current" href="contact.php"><b>Contact</b></a>
        <a href="servers.php"><b>Servers</b></a>
    </nav>

</div>

<!-- END BLOCK : MEMBERNAV -->

<!-- START BLOCK : ADMINNAV -->

<div id="navigation">

    <nav>
        <a href="index.php"><b>Home</b></a>
        <a href="over.php"><b>Over</b></a>
        <a href="nieuws.php"><b>Nieuws</b></a>
        <a href="leden.php"><b>Leden</b></a>
        <a href="admin.php"><b>Adminpanel</b></a>
        <a href="logout.php"><b>Uitloggen</b></a>
        <a class="current" href="contact.php"><b>Contact</b></a>
        <a href="servers.php"><b>Servers</b></a>
    </nav>

</div>

<!-- END BLOCK : ADMINNAV -->