<div id="content">

    <div class="contentbox">

        <div class="header"><h2>Inleiding</h2></div>

        <div class="content"><img src="template/img/char.png" alt="" style="float:right;" />
            <p><b>G-Unit</b> is een Nederlandse / Belgische FPS gaming clan. FPS staat voor: <i>"First Person Shooter"</i>. Wij spelen onder andere: <i>Call of Duty: Modern Warfare 2, Call of Duty: Black Ops en Battlefield Heroes</i>. G-Unit is opgericht in 2012. Een vriendengroep kwam op het idee, na dagenlang verschillende shooters te hebben gespeeld, om een eigen clan op te richten. We zijn nu al uitgegroeid tot één van de grootste multi-gaming clans van Nederland en België en elke dag komen er nieuwe leden bij! Wil je ook lid worden en deel uitmaken van één van de gezelligste FPS clans? Registreer je dan <a href="aanmelden.php"><b><i>hier</i></b></a>. Leden hebben toegang tot de teamspeak server, de gameservers en verschillende andere extra's.</p>
        </div>

    </div>

    <img class="banner" src="template/img/bfbanner1.png" alt="" />

    <div class="contentbox1">

        <div class="header"><h2>Over G-Unit</h2></div>

        <div class="content">

            <h3>Geschiedenis</h3>

            <p>
                <b>G-Unit</b> is ontstaan nadat twee vrienden dagenlang samen online shooters speelden. De 2 vrienden kwamen samen terecht in een gameclan, na een jaar in deze clan te hebben gespeelt, vonden ze het tijd om een eigen clan op te richten. Dagenlang werd er aan een mooie website gewerkt, een naam verzonnen en leden gewerft. Uiteindelijk konden we met onze site op 18 Augustus online. We begonnen met Call of Duty - Modern Warfare 2, omdat één van de leden een eigen server had en deze gratis beschikbaar wou stellen voor G-Unit. Daarna zijn we snel gegroeid, ondertussen hebben we op 3 verschillende games totaal 9 servers draaien.
            </p>

            <h3>Toekomst</h3>

            <p>
                G-Unit's uiteindelijke doelstelling is om de grootste FPS clan van Nederland te worden. Hiervoor hebben we natuurlijk veel hulp nodig. Iedereen is vrij om zich aan te melden voor de clan en iedereen is ook welkom op onze servers. <b>G-Unit</b>, <i>spread the word!</i>
            </p>



        </div>

    </div>

</div>

</div>

