<!DOCTYPE html> 

<html>

	<head>
	
		<meta charset="utf-8" />
		<meta name="author" content="Mitchell Boers" />
		<meta name="keywords" content="game, COD, Battlefield, Heroes, Call of Duty, Clan, Nederlands, Belgisch, Multi gaming, FPS, First Person Shooter, Shooters" />
  
			<title>G-Unit - Profiel van Qne</title>
  
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
  
	</head> 

	<body>

		<div class="container">

			<header>

				<h1>G-Unit</h1><img src="img/header.png" alt="" />

				<div id="navigation">

					<nav>
						<a href="index.html"><b>Home</b></a>
						<a href="over.html"><b>Over</b></a> 
						<a href="nieuws.html"><b>Nieuws</b></a>
						<a href="leden.php"><b>Leden</b></a>
						<a href="registratie.php"><b>Registreren</b></a>
						<a href="contact.html"><b>Contact</b></a>
						<a href="servers.html"><b>Servers</b></a>
					</nav>

				</div>

			</header>

			<div id="content">

				<div class="contentbox">

					<div class="header"><h2>Informatie</h2></div>

						<div class="profbox">

							<ul>

								<li><b>Gebruikersnaam</b></li>
								<li><b>Echte naam</b></li>
								<li><b>Rank</b></li>
								<li><b>Geslacht</b></li>
								<li><b>Leeftijd</b></li>
								<li><b>Land</b></li>
								<li><b>Website</b></li>
								<li><b>Contact</b></li>

							</ul>

						</div>

						<div class="profbox">

							<ul>

								<li><b>Twq</b></li>
								<li><b>Mitchell</b></li>
								<li><b>Founder</b></li>
								<li><b>Man</b></li>
								<li><b>16</b></li>
								<li><b>Nederland</b></li>
								<li><b><a href="profiel_twq.html">www.G-Unit.nl/Twq</a></b></li>
								<li><b><a href="mailto:qne@g-unit.nl">Twq@G-Unit.nl</a></b></li>

							</ul>

						</div>

				</div>
					
				<img class="banner" src="img/avatar.png" alt="" />

				<div class="contentbox1">

					<div class="header"><h2>Over</h2></div>

					<div class="content">

					<p>
						Hallo, ik ben <b>Twq</b>, ook wel Mitchell genoemd. In dit grote vak kun je, jouw eigen biografie schrijven. Je kunt hier zelf alles aanpassen. Schrijf hier bijvoorbeeld over je komst bij de clan, welke spellen je allemaal speelt / hebt gespeeld of hoe je aan je gebruikersnaam bent gekomen. Er zijn vele mogelijkheden, van eigen plaatjes erin zetten tot dikgedrukte en schuine woorden/letters.
					</p>	 

					</div>

				</div>

			</div>

		</div>

			<footer>

				<div class="container">
									
					<div class="footerbox">

						<h4>Snelmenu</h4>

							<ul>
								<li><a class="five" href="index.html">Home</a></li>
								<li><a class="five" href="over.html">Over</a></li>
								<li><a class="five" href="leden.html">Leden</a></li>
								<li><a class="five" href="nieuws.html">Nieuws</a></li>
							</ul>

					</div>

					<div class="footerbox">

						<h4>Laatste leden</h4>

							<ul>
								<li><a class="five" href="profiel_qne.html">Qne</a></li>
								<li><a class="five" href="profiel_twq.html">Twq</a></li>
								<li><a class="five" href="profiel_ludlium.html">Ludlium</a></li>
								<li><a class="five" href="profiel_driewielerfiets.html">Driewielerfiets</a></li>
							</ul>

					</div>

					<div class="footerbox">

						<h4>Volg ons</h4>

							<ul>
								<li><a class="five" href="http://www.twitter.com">Twitter</a></li>
								<li><a class="five" href="http://www.facebook.com">Facebook</a></li>
								<li><a class="five" href="http://www.youtube.com">Youtube</a></li>
							</ul>

					</div>

					<div class="footerbox">

						<h4>Contact</h4>

							<p>
								Heeft u een vraag? Of wilt u meer informatie? Neem dan contact op via <a href="contact.html">deze</a> pagina.
							</p>

					</div>

				<i>© G-Unit | Powered by Mitchell Boers</i>

				</div>

			</footer>

	</body> 

</html> 